<p>YOU ARE HERE <span class="arrow"> > </span> <span>Dashboard</span></p>

<h2>Dashboard</h2>

<div class="grid-container">
  <div class="users">
    <header>
      <h3><i nz-icon nzType="user" nzTheme="outline"></i>Users</h3>
      <input type="text" placeholder="Search...">
    </header>

    <div class="user-grid-header">
      <p>ID</p>
      <p>Username</p>
      <p>Email</p>
      <p>Status</p>
    </div>
    <nz-divider class="divider-margin"></nz-divider>
    <div class="user-data-grid">
      <p>1</p>
      <p>Alice</p>
      <p>alice@email.com</p>
      <div class="user-status" style="background-color: #1AB394;">active</div>
      <p>2</p>
      <p>Bob</p>
      <p>bob@email.com</p>
      <div class="user-status" style="background-color: #F5CD7C;">delayed</div>
      <p>3</p>
      <p>Bob</p>
      <p>bob@email.com</p>
      <div class="user-status" style="background-color: #1AB394;">delayed</div>
      <p>4</p>
      <p>Shepherd</p>
      <p>shepherd@email.com</p>
      <div class="user-status" style="background-color: #EB3349;">removed</div>
    </div>

  </div>
  <div class="alerts">
    <header>
      <h3>Users</h3>
    </header>
    <p style="background-color: #FDF3E0;"><span>Warning:</span> Best check yo self, you're not looking too good.</p>
    <p style="background-color: #D1F0EA;"><span>Success:</span> You successfully read this important alert message.</p>
    <p style="background-color: #DFE6FE;"><span>Info:</span> This alert needs your attention, but it's not super
      important.</p>
    <p style="background-color: #FBD6DB;"><span>Danger:</span> Change this and that and try again.</p>
  </div>

  <div class="recent-post">
    <header>
      <p>Recent Post <span>5</span></p>
      <a href="">Option</a>
    </header>
    <p class="sub-header">posts, that have been published recently</p>

    <div class="post-data-container">
      <p>2019-11-14</p>
      <a> React Native Starter - Mobile Template</a>
      <p>2019-12-14</p>
      <a> Light Blue React Node.js - update version 7.0.1</a>
      <p>2019-15-14</p>
      <a> Sing App React Node.js - update version 7.0.1</a>
      <p>2019-10-14</p>
      <a> Sing App Vue Node.js - update version 5.0.3</a>
    </div>

    <p class="footer">View All Post <span>15</span></p>
  </div>
</div>
