<div class="center">
  <ul>
    <li>
      <h2>I, <b>Pratik Soni</b>, deveoped this page to demostrate my technical skills.</h2>
    </li>
    <li>
      <h2>Frontend is devloped in <b>Angular 7</b>, HTML5, CSS and Ant Design</h2>
    </li>
    <li>
      <h2>Backend is devloped in <b>Java 8</b>, <b>Springboot</b>, Hibernate</h2>
    </li>
    <li>
      <h2>Hosted on <b>AWS</b> EC2 and resources on AWS S3. CICD using AWS Code-pipeline</h2>
    </li>
    <li>
      <h2>Now checkout <b>Demos</b></h2>
    </li>
  </ul>
</div>
