<div class="header  slide-bottom">
  <a href="/home" skipLocationChange="true" routerLinkActive="active" [routerLink]="['/home']">Home</a>
  <a skipLocationChange="true" routerLinkActive="active" [routerLink]="['/buttonPanel', 'demo']">Demos</a>
  <a href="http://www.google.com">I-Me-Myself</a>
  <a href="https://drive.google.com/uc?id=1N-br5gb-vcpsKLWS32aZPeMuyKcC_xL_&export=download">Resume<i nz-icon
      nzType="download" nzTheme="outline"></i></a>
</div>
<div class="divider">
  <nz-divider [nzText]="text">

    <ng-template #text><i nz-icon nzType="star" nzTheme="fill" [nzSpin]="true"></i></ng-template>
  </nz-divider>
</div>
<div class="icon slide-bottom">
  <nz-avatar nzIcon="user" nzSrc="../assets/images/developer2.png"></nz-avatar>
  <span>Poor Developer</span>
</div>
<div *ngIf="showBackNav" class="backNav"> <a (click)="redirect()"><i nz-icon nzType="left-circle"
      nzTheme="outline"></i></a>
</div>

<router-outlet></router-outlet>
