.container {
  height: 100%;
  position: relative;
}

header {
  background-color: #F45844;
  color: white;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 4px;
  padding: 1rem;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 0.5rem;

  li {
    padding: 1rem 3rem;
    cursor: pointer;
    font-weight: 600;

    &:hover {
      background-color: #F9F6F2;
      color: #F45844;
    }

    i {
      margin-right: 0.5rem;
    }
  }

  li:first-child {
    color: #F45844;
  }

}

.back-button {
  position: fixed;
  bottom: 2rem;
  width: 20%;
  padding: 0.5rem;
  font-size: 15px;
  border: none;
  font-weight: 700;
  cursor: pointer;
  background-color: #F45844;
  color: white;

  &:hover {
    color: #F45844;
    background-color: #F9F6F2;
  }
}
