<div class="container">
  <header>ANGULAR</header>

  <ul>
    <li><i nz-icon nzType="home" nzTheme="outline"></i>Dashboard</li>
    <li><i nz-icon nzType="form" nzTheme="outline"></i>Typography</li>
    <li><i nz-icon nzType="table" nzTheme="outline"></i>Table Basics</li>
    <li><i nz-icon nzType="wifi" nzTheme="outline"></i>Notifications</li>
    <li><i nz-icon nzType="appstore" nzTheme="outline"></i>Components</li>
  </ul>

  <button (click)="redirect()" class="back-button">Back to Home</button>
</div>
