<div class="table">
  <nz-table #basicTable [nzData]="users | async" [nzPageSize]="5">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr>
        <th nzShowSort nzSortKey="name">Name</th>
        <th>City</th>
        <th>Email</th>
        <th>Zipcode</th>
        <th>Website</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.name }}</td>
        <td>{{ data.city }}</td>
        <td>{{ data.email }}</td>
        <td>{{ data.zipcode }}</td>
        <td>{{ data.website }}</td>
      </tr>
    </tbody>
  </nz-table>
</div>
